<?xml version="1.0" encoding="UTF-8"?>
<resources>
  <author>
    <name>Christopher L. Stanley</name>
    <nickname>NinjaNumberNine</nickname>
    <email>ninjanumbernine AT gmail DOT com</email>
    <country>USA</country>
  </author>

  <surface name="sky" file="background.jpg" />
  <surface name="mapA" file="foreground.png" />
  <surface name="previewA" file="preview.jpg" />
  <surface name="mapB" file="" />
  <surface name="previewB" file="" />
  <surface name="preview" file="" />

	<name>Abyss</name>
	<hasBside>false</hasBside>

</resources>
