<?xml version="1.0" encoding="utf-8"?>
<resources>
	<author>
		<name>Olivier Boyer</name>
		<nickname>ziolive</nickname>
		<email>ziolive AT gmail.com</email>
		<country>France</country>
	</author>

	<surface name="sky" file="sky.jpg" />
	<surface name="map" file="background.png" />
	<surface name="preview" file="preview.jpg" />

	<name>Champignon</name>

</resources>
